---
- name: Get join command from master
  shell: kubeadm token create --print-join-command
  register: join_command_result
  become: yes
  when: inventory_hostname in groups['master_nodes']
  delegate_to: "{{ groups['master_nodes'][0] }}"

- name: Set join command fact
  set_fact:
    join_command: "{{ hostvars[groups['master_nodes'][0]]['join_command_result']['stdout'] }}"
  when: inventory_hostname in groups['worker_nodes']

- name: Join worker nodes to cluster
  become: yes
  shell: "{{ join_command }}"
  when: 
    - inventory_hostname in groups['worker_nodes']
    - inventory_hostname not in groups['master_nodes']
  register: join_result

- name: Verify node join
  pause:
    seconds: 30
  when: inventory_hostname in groups['worker_nodes']

- name: Label worker nodes with Aether role
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Node
      metadata:
        name: "{{ inventory_hostname }}"
        labels:
          node-role.aetherproject.org: omec-upf
  environment:
    KUBECONFIG: "{{ ansible_user_dir }}/.kube/config"
  delegate_to: "{{ groups['master_nodes'][0] }}"
  when: inventory_hostname in groups['worker_nodes']