---
# Main task file for kubeadm role
# This file orchestrates the execution of different tasks based on tags
- name: Init kubeadm setup
  import_tasks: roles/kubeadm/tasks/kubeadm.yml
  tags: kubeadm

# TODO: implement playbook to setup nodes with kubeadm configs
- name: Init kubeadm setup with configs files
  import_tasks: roles/kubeadm/tasks/kubeadm-configs.yml
  tags: kubeadm-configs

- name: Init uninstall kubeadm
  import_tasks: roles/kubeadm/tasks/uninstall_kubeadm.yml
  tags: uninstall-kubeadm

- name: Add worker nodes
  import_tasks: roles/kubeadm/tasks/add_worker_nodes.yml
  tags: add-workers

- name: Remove worker nodes
  import_tasks: roles/kubeadm/tasks/remove_worker_nodes.yml
  tags: remove-workers